@main("Hello"){
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Narrow Jumbotron Template for Bootstrap</title>

    <!-- Bootstrap core CSS & JS -->
    <link rel="stylesheet" href='@routes.Assets.at("/public/stylesheets","bootstrap.min.css")'>
    <script src='@routes.Assets.at("/public/javascripts","bootstrap.min.js")'></script>
    <!-- Jquery -->
    <script src='@routes.Assets.at("/public/javascripts","jquery-2.2.0.min.js")'></script>
    <script src='@routes.Assets.at("/public/javascripts","jquery.maphilight.min.js")'></script>
    <script src='@routes.Assets.at("/public/javascripts","canvasjs.min.js")'></script>
    <!-- Dyna table -->
    <link rel="stylesheet" href='@routes.Assets.at("/public/stylesheets","jquery.dynatable.css")'>
    <script src='@routes.Assets.at("/public/javascripts","jquery.dynatable.js")'></script>
    
    
    <!-- Jquery autocomplete -->
    <link rel="stylesheet" href='@routes.Assets.at("/public/stylesheets","jquery-ui.min.css")'>
    <script src='@routes.Assets.at("/public/javascripts","jquery-ui.min.js")'></script>
    

  </head>

  <body>
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="#">Home</a></li>
            <li role="presentation"><a href="#">About</a></li>
            <li role="presentation"><a href="#">Contact</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Rat Lipid</h3>
      </div>
    <div class="well">
      <div class="input-group">
	<input type="text" id="lipid_search" class="form-control" placeholder="Enter lipid type or lipid family" value=""/>
	<span class="input-group-btn">
	  <button type="button" class="btn btn-default" onclick="search($('#lipid_search').val())">
	   <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
	 </button>
	</span>
      </div>
      <br>
      <!--<div class="btn-group">
	<button type="button" id="drop1" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	  Click here
	</button>
	<div class="dropdown-menu">
	  <a class="dropdown-item" id="lipid_class" onclick="dropDownClick(this)">Lipid Class</a>
	  <a class="dropdown-item" id="lipid_molec" onclick="dropDownClick(this)">Lipid Molecule</a>
	</div>
      </div>-->
    </div>
      <div class="jumbotron well">
	<div class="container">
          <p class="text-center">Click on corresponding region of the rat for details</p>
          <div class="text-xs-center">
	    <img src='@routes.Assets.versioned("images/rat.png")' class="center-block" id="rat_img" usemap="#map"/>
	   
	    <map name="map">
	      <area shape="poly" coords="330,311,363,302,379,276,385,238,389,209,391,205,408,218,420,259,422,293,417,332,405,352,377,363,340,361,316,355,316,335,329,312,331,315" alt="Liver" href="#" />
	      <area shape="poly" coords="297,352,311,348,314,324,310,302,277,284,268,275,271,309,276,323,277,332,286,343,290,341" alt="Heart" title="Heart" href="#" onclick="clickRat(this.alt);"/>
	      <area shape="poly" coords="284,348,264,344,254,339,249,326,253,313,257,305,266,295,273,311,276,321,280,334,282,342,282,348,276,341" alt="Thymus" href="#" />
	      <area shape="poly" coords="270,271,283,250,305,235,332,218,360,209,378,196,387,195,387,220,382,245,378,272,365,288,369,295,328,311,313,309,314,307,291,291,271,275,271,274" alt="Lung" href="#" />
	      <area shape="poly" coords="398,174,413,164,424,163,435,165,443,168,447,176,455,181,460,193,460,201,462,209,459,218,450,222,445,220,443,210,436,198,428,192,420,188,414,184,406,182,395,180,395,179" alt="Spleen" href="#" onclick="clickRat(this.alt);"/>
	      <area shape="poly" coords="436,160,443,157,449,157,449,163,446,165,436,161,443,160" alt="Adrenal GLand" href="#" />
	      <area shape="poly" coords="458,155,475,158,489,163,501,169,507,173,508,178,496,177,487,175,477,178,480,183,482,187,480,190,465,190,461,185,452,176,449,171,449,163,455,159,457,157" alt="Kidney" href="#" />
	      <area shape="poly" coords="571,351,563,343,569,335,577,334,579,342,578,348,575,351,573,351" alt="Uterus_Teste" href="#" />
</map>
	  </div>
	</div>
      </div>

      <div class="jumbotron well">
      <div id="chartContainer" style="height: 350px; width: 100%">
      </div>
      <br /><br />
      <div id="ltdiv" style="display: none"><table id="lipidTable">
	    <thead>
	       <!--<th>id</th>-->
	       <th>lipidMolec</th>
	       <th>fa</th>
	       <th>faGroupKey</th>
	       <th>calcMass</th> 
	       <th>formula</th> 
	       <th>baseRt</th>
	       <th>mainIon</th>
	       <th>mainAreaC</th>
	       <th>lipidClass</th>
	       <th>organ</th>
	    </thead>
	       <tbody>
	       </tbody>
	  </table></div>
      </div>
      <footer class="footer">
        <p>&copy; 2016 Company, Inc.</p>
      </footer>

    </div> <!-- /container -->
    <script>
      
      
      function search(q){
         $("#chartContainer").hide();
         $("#ltdiv").hide();
         console.log("q=" + q)
         if(q == ""){
            return;
         }
         
         var link = "";
         console.log("auto_complete_type:" + autocomplete_type)
         if (autocomplete_type == 0){
            link = "/reportsDyna/lipids/" + escape(q);
         }else if (autocomplete_type == 1){
            link = "/reportsDyna/lipidMolec/" + escape(q);
         }

         if( link == "" )
            return;

         $.ajax({
            url: link,
            success: function(data){
               var dynatable = $("#lipidTable").data('dynatable');
               dynatable.records.updateFromJson({records: data});
               dynatable.dom.update();
               $("#ltdiv").show();
            }
         });
      }
      
      function clickChart(e){
            $.getJSON("/reportsDyna2?lipidClass=" + e.dataPoint.name + "&organ=" + e.dataPoint.organ, function(data){
               var dynatable = $("#lipidTable").data('dynatable');
               dynatable.records.updateFromJson({records: data});
               dynatable.dom.update();//process();
               $("#ltdiv").show();
            });
      }
      
      function clickRat(e){
         console.log(e + "was clicked!!!");
         $("#chartContainer").hide();
         $("#ltdiv").hide();
         $.getJSON("/percentCanvasJs/organs?q=" + escape(e),function(data){
            data["organ"] = escape(e);
            //console.log("data=" + data);
            var chart = new CanvasJS.Chart("chartContainer",{
            title: {
               text: e,
               fontSize: 24
            },
            axisY: {
               title: "Lipid in %"
            },
            legend : {
               verticalAlign: "center",
               horizontalAlign: "right"
            },
            data : [
               {
                  type: "pie",
                  showInLegend: true,
                  toolTipContent: "{label} <br/> {y} %",
                  indexLabel: "{y} %",
                  click: clickChart,
                  dataPoints:  data 
               }
            ]
         });
         chart.render();
         $("#chartContainer").show();
         });
         
      }

      var AUTO_COMPLETE_LINK = "";
      var autocomplete_type = -1;
      function set_autocomplete_type(t){
         autocomplete_type = t;
      }
      function autocomplete_setup(input, ajax_link){
         input.autocomplete({
            source: function(request, response){
              $.getJSON(ajax_link + "?q=" + request.term, function(data){
                 //console.log("data:" + data);
                 response(data);
              });
            },
            minLength: 1,
            select: function( event, ui ) {
               console.log( "Selected:" + ui.item);
               
               set_autocomplete_type(ui.item.type);
               console.log("auto_complete_type:" + autocomplete_type);
            }
         });
         
      }

      /*function dropDownClick(which){
         var w = $(which);
         var link = "";
         var drop_id = w.attr("id");
         if (drop_id == "lipid_class"){
            link  = "/autocomplete/lipids"
            autocomplete_type = 0
         }else if (drop_id == "lipid_molec"){
            link = "/autocomplete/lipidsMolec"
            autocomplete_type = 1
         }
         if (link != "")
            autocomplete_setup($("#lipid_search"), link);
         $("#drop1").text(w.text());
      }*/

      $( document ).ready(function() {
         $('img[usemap]').maphilight();
         $("#lipidTable").dynatable({
            records: []
         });
         autocomplete_setup($("#lipid_search"), "/autocomplete/ll")
      });
    </script>
  </body>
</html>
}
